<div class="container">
    <h1 class = "heading">But What's Wrong?</h1>
    <br/>
    <br>
    <button style="margin-left:100%; width: 200px;" class="btn btn-success">What's Wrong with This Statement?</button>
    <h3>Statement:</h3>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp; Men always say that as the defining compliment, don’t they? She’s a cool girl. Being the Cool Girl means I am a hot, brilliant, funny woman who adores football, poker, dirty jokes, and burping, who plays video games, drinks cheap beer, loves threesomes and anal sex, and jams hot dogs and hamburgers into her mouth like she’s hosting the world’s biggest culinary gang bang while somehow maintaining a size 2, because Cool Girls are above all hot. Hot and understanding. Cool Girls never get angry; they only smile in a chagrined, loving manner and let their men do whatever they want. Go ahead, shit on me, I don’t mind, I’m the Cool Girl.</h2>
    <button style="margin-left:100%; width: 200px;" class="btn btn-success">Who really killed them?</button>
    <br>
    <br>
    <br>
    <br>
    <h3>Answer:</h3>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp; Nothing wrong here, it actually is all true!</h2>
    <button style="margin-left:100%; width: 200px;" class="btn btn-success">Reveal the Truth</button>
</div>
