<div class="container">
    <h1 class = "heading">But What's Wrong?</h1>
    <br/>
    <br>
    <button style="margin-left:100%; width: 200px;" class="btn btn-success" (click)="onGetStatement()" *ngIf="!isScenario" [disabled] = "this.mainQuestionAnswerService.isFinished()">What's Wrong with This Statement?</button>
    <h3 *ngIf="!isScenarioHeading">Statement:</h3>
    <h3 *ngIf="isScenarioHeading">Scenario:</h3>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp; {{statscen}}</h2>
    <button style="margin-left:100%; width: 200px;" class="btn btn-success" *ngIf="isScenario" (click)="onGetStatement()" [disabled] = "this.mainQuestionAnswerService.isFinished()">Who really killed them?</button>
    <br>
    <br>
    <br>
    <br>
    <h3>Answer:</h3>
    <h2 *ngIf="revealAnswer">&nbsp;&nbsp;&nbsp;&nbsp; {{answer}}</h2>
    <button style="margin-left:100%; width: 200px;" class="btn btn-success" (click)="getAnswer()" [disabled] = "this.mainQuestionAnswerService.isFinished()">Reveal the Truth</button>
</div>
