<div class="container">
    <div class="col-xl-3 row-lg-3 center">
        <label class="labelStyle lead">
            <h1>
                <b>The Winners Are:</b>
            </h1>
        
            <br>
            <h2 *ngFor="let pnam of playerInfoScoreService.getAllWinners()">{{pnam}}</h2>
        </label>
        <p></p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4>Thank you for playing!</h4>
    </div>
</div>
